#cf1{
    height: 100%;
}
#cf1_col1{
    padding: 275px 200px;
}
#cf1_col2{
    background-color: black;
    text-align: center;
    padding: 100px 250px;
}
#cf1_col2_h2{
    color: white;
    font-weight: 300;
}
#form{
    text-align:left;
    margin-top: 50px   ;
}
#form_p1{
    color: rgb(162, 162, 162);
}
#form_p2{
    border: 1px solid white;
    line-height: 30px;
    padding: 0px 0px;
    color: rgb(162, 162, 162);
}
.fa-lock{
    background-color: powderblue;
    color: green;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
    margin-right: 5px;
}
#form_a1{
    text-decoration: none;
}

#exampleInputEmail1,#exampleInputUsername1, #exampleInputPassword1, #exampleInputConfirmPassword1, #exampleInputName1, #exampleInputPhNumber, #exampleInputOTP, #exampleInputBirthDate1{
    background-color: transparent;
    height: 50px;
    color: white;
}
#exampleInputBirthDate1::-webkit-calendar-picker-indicator{
    background-color: white;   
}

#exampleInputEmail1::placeholder, #exampleInputUsername1::placeholder, #exampleInputPassword1::placeholder, #exampleInputConfirmPassword1::placeholder, #exampleInputName1::placeholder, #exampleInputPhNumber::placeholder, #exampleInputOTP::placeholder{
    color: white;
}
#input_div{
    margin-top: 30px;
}
#checkbox_label{
    color: rgb(113, 113, 113);
    font-size: 15px;
}
#checkbox_a{
    text-decoration: none;
}
#submit{
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: rgb(93, 187, 237);
    font-size: 15px;
    height: 50px;
}
#sign_in{
    color: rgb(113, 113, 113);
    font-weight: 700;
}
#have_account{
    color: white;
    text-align: center;
    margin-top: 50px;
}
#eye_icon, #eye_icon2{
    background-color: gray;
    color: white;
    padding: 5px;
    font-size: 12px;
    position: absolute;
    top: 15px;
    left: 440px;
}
#div_password, #after_OTP{
    position: relative;
}
#forgotten_pass{
    text-decoration: none;
    color: rgb(113, 113, 113);
    font-weight: 700;
    text-align: right;
}
#exampleInputPassword1, #exampleInputConfirmPassword1{
    padding-right: 45px;
}
#after_OTP{
    display: none;
}
#exampleInputOTP{
    margin-top: 25px;
}
#for_OTP{
    width: 100%;
    border-radius: 0px;
    border: none;
    background-color: rgb(93, 187, 237);
    font-size: 15px;
    height: 50px;
}
#after_OTP_validate1, #after_OTP_validate2, #submit_after_newpass{
    display: none;
    margin-top: 25px;
}
#submit_after_newpass{
    width: 100%;
    border-radius: 0px;
    border: none;
    background-color: rgb(93, 187, 237);
    font-size: 15px;
    height: 50px;
}
#after_OTP_validate1, #after_OTP_validate2{
    position: relative;
}
@media screen and (max-width:450px){
    #cf1_col1 {
        padding: 30px 175px;
    }
    #logo{
        width: 100px;
    }
    #cf1_col2 {
        padding: 100px 45px;
    }
    #eye_icon{
        top: 15px;
        left: 325px;
    }
}
#logo{
    width: 300px;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #d1e7dd;
    color: green;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    border-left:5px solid green;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
